#navbar {
    background-color: rgb(212, 27, 27);
}

#hero {
    background-color: red;
}
#Work {
    background-color: red;
}

#certificate {
    background-color: red;
}
#service{
    background-color: red;
}

#About{
    backgrounred;
}

#contact{
    background-color: red;
}

#footer{
    background-color: rgb(212, 27, 27);
}
